*{
    font-family: 'Roboto';
}
h1{
    color:black;
}


#img{
    padding-left: 10px;
}
#navbar{
    justify-content: space-between;
    background-color: white;
    padding: 5px;
}
#navbar a {
    font-size: 14px;
    color: #757575;

}
#navbar a:hover{
    color: #F2A340
}
footer{
    text-align: center;
    background-color: #353E48;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 30px;
    position:auto;
    bottom: 0;
    width: 100%;
}